.stepper-nav-item {
    border-top: 3px solid;
    width: 140px;
}

.nav-active {
    border-top-color: #E20613;
    opacity: 1;
}

.stepper-nav {
    gap: 15px;
}

.stepper-header {
    gap: 5px;
}

.stepper-text {
    font-family: 'Univers B';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
