.btn-back {
    border: none;
    background-color: white;
    position: relative;
}

.btn-continue {
    background-color: #E20613;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.btn-continue:hover {
    background-color: #E20613;
    color: white;
}

.btn-continue:disabled {
    background-color: #EDEBE9;
    color: #605E5C80;
}

.grey-box-alt {
    background-color: #ebebeb;
    margin-left: -25px;
}
