.final-headline {
    position: relative;
}
.final-headline .stepper-text {
    position: absolute;
    top: 110px;
    left: 55px;
    color: white;
    font-size: 30px;
}

.final-headline .btn-continue {
    position: absolute;
    top: 190px;
    left: 55px;
    padding: 10px;
}

.grey-box {
    position: relative;
    background-color: #d9d9d980;
    border-radius: 50px;
}

.icon-arrow {
    width: 200px;
    position: absolute;
    bottom: -105px;
    right: 195px;
}

.red-circle {
    height: 120px;
    width: 120px;
    background-color: #E20613;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: -130px;
  }